@font-face {
    font-family: marker;
    src: url(../Permanent_Marker/PermanentMarker-Regular.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
}

.background{
    min-height: 100vh;
    width: 100vw;
    background: url(../food.jpg) center no-repeat;
    background-size: cover;
}

.content{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 53vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 43vw;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

h1{
    font-family: "marker", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    letter-spacing: 1.5rem;
    font-size: 3.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    animation: lights 5s 750ms linear infinite;
}

h4{
    font-family: "marker", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(100, 100, 100);
    font-size: 1.2rem;
}

h5{
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 2rem;
}

p{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
label{
    font-size: 1.2rem;
    color: pink;
}

.körperbau{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.körperbau label{
    color: black;
}

input[type="text"], input[type="number"], select{
    width: 100%;
    padding: 5px;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 3px;
}

input[type="submit"]{
    display: block;
    margin: 5rem auto;
    border-radius: 50px;
    padding: 10px 20px;
    color: rgb(234, 105, 126);
    font-size: 1.8rem;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.49), rgba(255, 192, 203, 0.635));
    border: 3.5px solid rgba(224, 135, 150, 0.279);
    box-shadow: rgba(93, 50, 67, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    letter-spacing: 0.2rem;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(234, 105, 126);
    color: white;
}

.ergebnis-output{
    display: flex;
    justify-content: space-evenly;
    margin: 4rem;
}

@keyframes lights {
    0% {
      color: rgba(234, 105, 127, 0.80);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: rgba(234, 105, 127, 0.90);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: rgba(234, 105, 127, 0.95);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: rgba(234, 105, 127, 0.90);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: rgba(234, 105, 127, 0.80);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
  }